{% load static %}

<div class="section">
  <h3 class="title text-center">You may also be interested in</h3>
  <br />
  {% comment %} <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul class="nav nav-pills nav-pills-primary">
        <li class="active">
          <a href="#pill1" data-toggle="tab">All</a>
        </li>
        <li>
          <a href="#pill2" data-toggle="tab">World</a>
        </li>
        <li>
          <a href="#pill3" data-toggle="tab">Arts</a>
        </li>
        <li>
          <a href="#pill4" data-toggle="tab">Tech</a>
        </li>
        <li>
          <a href="#pill5" data-toggle="tab">Business</a>
        </li>
      </ul>
      <div class="tab-content tab-space">
        <div class="tab-pane active" id="pill1">test pill 1</div>
        <div class="tab-pane" id="pill2">test pill 1</div>
        <div class="tab-pane" id="pill3">test pill 1</div>
        <div class="tab-pane" id="pill4">test pill 1</div>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul class="nav nav-pills nav-pills-primary">
        <li class="active">
          <a href="#pill1" data-toggle="tab" class="tab-link">Création d’entreprise</a>
        </li>
        <li>
          <a href="#pill2" data-toggle="tab" class="tab-link">Management et Stratégie</a>
        </li>
        <li>
          <a href="#pill3" data-toggle="tab" class="tab-link">Digitalisation & IA</a>
        </li>
        <li>
          <a href="#pill4" data-toggle="tab" class="tab-link">Startups</a>
        </li>
        <li>
          <a href="#pill5" data-toggle="tab" class="tab-link">Financement et investissement</a>
        </li>
        <li>
          <a href="#pill6" data-toggle="tab" class="tab-link">Compétences</a>
        </li>
        <li>
          <a href="#pill7" data-toggle="tab" class="tab-link">Events</a>
        </li>
      </ul>

      <div class="tab-content tab-space">
        {% comment %} <div class="tab-pane active" id="pill1">
          <!-- Content for Création d’entreprise -->
          <p>Content for Création d’entreprise.</p>
        </div> {% endcomment %}
        <div class="tab-pane" id="pill2">
          <!-- Content for Management et Stratégie -->
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="#pablo"><img class="img img-raised" src="{% static 'blog/assets/img/bg5.jpg' %}" /></a>
              </div>
              <div class="card-content">
                <h6 class="category text-info">Enterprise</h6>
                <h4 class="card-title"><a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a></h4>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pill3">
          <!-- Content for Digitalisation & IA -->
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-image">
                <a href="#pablo"><img class="img img-raised" src="{% static 'blog/assets/img/blog5.jpg' %}" /></a>
              </div>
              <div class="card-content">
                <h6 class="category text-success">Startups</h6>
                <h4 class="card-title"><a href="#pablo">Lyft launching cross-platform service this week</a></h4>
                <p class="card-description">
                  Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo">Read More</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pill4">
          <!-- Content for Startups -->
          <p>Content for Startups.</p>
        </div>
        <div class="tab-pane" id="pill5">
          <!-- Content for Financement et investissement -->
          <p>Content for Financement et investissement.</p>
        </div>
        <div class="tab-pane" id="pill6">
          <!-- Content for Compétences -->
          <p>Content for Compétences.</p>
        </div>
        <div class="tab-pane" id="pill7">
          <!-- Content for Events -->
          <p>Content for Events.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content tab-space">
    <div class="tab-pane active" id="pill1">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-plain card-blog">
            <div class="card-image">
              <a href="#pablo"><img class="img img-raised" src="{% static 'blog/assets/img/bg5.jpg' %}" /></a>
            </div>
            <div class="card-content">
              <h6 class="category text-info">Enterprise</h6>
              <h4 class="card-title"><a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a></h4>
              <p class="card-description">
                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo">Read More</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-plain card-blog">
            <div class="card-image">
              <a href="#pablo"><img class="img img-raised" src="{% static 'blog/assets/img/blog5.jpg' %}" /></a>
            </div>
            <div class="card-content">
              <h6 class="category text-success">Startups</h6>
              <h4 class="card-title"><a href="#pablo">Lyft launching cross-platform service this week</a></h4>
              <p class="card-description">
                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo">Read More</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-plain card-blog">
            <div class="card-image">
              <a href="#pablo"><img class="img img-raised" src="{% static 'blog/assets/img/bg5.jpg' %}" /></a>
            </div>
            <div class="card-content">
              <h6 class="category text-danger"><i class="material-icons">trending_up</i> Enterprise</h6>
              <h4 class="card-title"><a href="#pablo">6 insights into the French Fashion landscape</a></h4>
              <p class="card-description">
                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.<a href="#pablo">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.tab-link').forEach((link) => {
    link.addEventListener('click', function (event) {
      event.preventDefault()
      const target = this.getAttribute('href')
  
      // Remove active class from all tabs and hide all content
      document.querySelectorAll('.nav-pills li').forEach((tab) => {
        tab.classList.remove('active')
      })
      document.querySelectorAll('.tab-pane').forEach((content) => {
        content.classList.remove('active')
      })
  
      // Add active class to the clicked tab and show the corresponding content
      this.parentElement.classList.add('active')
      document.querySelector(target).classList.add('active')
    })
  })
</script>
