{% load static %}
{% load custom_filters %}

<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> {# Often the logo is also a link to home #}
               <img src="{% static 'blog/assets/img/logo test.png' %}" alt="Site Logo" style="height: 30px; margin-top: -5px; display: inline-block;"> {# Added alt and some basic styling for inline display and size #}
            </a>
            {# Removed the invalid </img> tag #}
        </div>

        <div class="collapse navbar-collapse" id="myNavbarCollapse"> {# Added ID here #}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                       Accueil
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'post_list' %}">
                       Articles
                    </a>
                </li> -->

                {% if user.is_authenticated %}
                    {% if user.is_staff or user|has_author_profile %}
                        <li class="nav-item"> {# Bootstrap 3 would typically just use <li> without nav-item #}
                          <a class="nav-link" href="{% url 'create_post' %}">Create Post</a> {# Bootstrap 3 a tags don't need nav-link class #}
                        </li>
                    {% endif %}

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'author_profile' user.username %}">
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name|add:" "|add:user.last_name }}
                        {% else %}
                            Profile
                        {% endif %}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-primary" href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'signin' %}">
                            <i class="material-icons">login</i>
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>