{% load static %}
{% load custom_filters %}

<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
           <img
            src = '{% static 'blog/assets/img/logo test.png' %}'>

           </img>

        </div>


        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                       Accueil
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'post_list' %}">
                       Articles
                    </a>
                </li> -->

                {% if user.is_authenticated %}
                    {% if user.is_staff or user|has_author_profile %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'author_profile' user.username %}">
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name|add:" "|add:user.last_name }}
                        {% else %}
                            Profile
                        {% endif %}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-primary" href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'signin' %}">
                            <i class="material-icons">login</i>
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>