{% load static %}
<!-- post_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
    <link href="{% static 'blog/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/material-kit.css' %}" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>Posts</h1>
        {% for post in posts %}
            {{ post.content | safe}}
            <a href="/edit_post/{{ post.id | safe}}">Edit</a>
        {% endfor %}
    </div>
</body>
</html>
