{% extends "blog/base.html" %}
{% load static %}

{% block title %} Bizz2go{% endblock %}

{% block body %}

<style>
  .django-ckeditor-widget {
    margin-top: 2rem;
  }
</style>
{% include "blog/heroSection.html" %}


  <div class="main main-raised">
    <div class="justify-content-center align-items-center" style="position: relative; margin: 3%;">

      <form method="post">
        {% csrf_token %}
        {{ form.media }}
        <div class="row justify-content-center align-items-center">
          <div class="mb-3 col-md-2 text-center">
              <h4>Blog Title</h4>
          </div>
          <div class="mb-3 col-md-2">
              <input type="text" class="form-control" id="title" name="title" aria-describedby="textHelp">
          </div>
      </div>
                              {{ form }}
        </div>
        <p><input type="submit" value="post"></p>
    </form>
  </div>


    </div>
  </div>
  
  {% endblock %}