{% extends "blog/base.html" %}
{% load static %}
{% block body %}
{% include "blog/heroSection.html" %}

  <!-- Page Content -->

  <div class="container">
    <div class="d-flex justify-content-center align-items-center " style="height: 100vh;">

      <form action="{% url 'profileedit' user.id %}" class="p-5 shadow" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5 class="pb-2">Update Profile</h5>
        <label for="" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text">@</span>
          <input type="text" class="form-control" value="{{user.username}}" name="username" required disabled>
        </div>
        <label for="" class="form-label">Firstname</label>
        <input type="text" class="form-control" value="{{user.first_name}}" name="firstname" required>
        <label for="" class="form-label">Last name</label>
        <input type="text" class="form-control" value="{{user.last_name}}" name="lastname" required>
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" value="{{user.email}}" name="email" required>
        <button class="btn">Update Profile</button>
        <br>
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
      </form>

    </div>
  </div>

  {% include 'footer.html' %}

</body>

</html>
{% endblock %}